/* 320px 480px 768px 1024px 1224px делятся на 16 - ключевые точки;
    популярные форматы шрифтов W0FF (W0FF2), TTF, E0T, SVG*/


/* ==== 320 px ===================================================================== */

@media (max-width: 320px) {
    
  
}


/* ==== 480 px ===================================================================== */

@media (max-width: 480px) {
    .header__container {
        padding-top: 15px;
        padding-bottom: 15px;
        grid-template-columns: 1fr 2fr;
        
    }

    .header__logo {
        background-size: 83% auto ;
        background-position: center;  
    }

    .language__icon {
        display: none;
    }

    .footer__container {
        padding: 0.6em 0 0.6em 0;
    }

    .main-container-2 {
        margin: 5vw 0 5v 0;
    }

    .about-component__img {
        width: 50%;
        height: auto;
    }

}



@media (max-width: 570px) {
    .title_medium {
        font-size: 30px;
    }

    .invert_black-long-line-imitation {
        display: none;
    }

    .invert_ocher-short-line-imitation {
        display: none;
    }

    .black-long-line-imitation {
        display: none;
    }

    .ocher-short-line-imitation {
        display: none;
    }

    .main-container-2__slider-number {
        grid-row: 0;
        grid-column: 0;
        display: none;
    }

    .invert_main-container-2__slider-number {
        grid-row: 0;
        grid-column: 0;
        display: none;
    }

    .main-container-2__left {
        grid-template-columns: 1fr;
        justify-items: start;
    }

    .main-container-2__right-decor {
        grid-template-columns: 1fr;
        justify-items: start;
    }

    .main-container-2 {
        padding: 6.51% 9%;
    }

    .main-container-2__right-decor {
        padding: 6.51% 9%;
    }

    .about-component__img {
        width: 60%;
        height: auto;
    }

    .decor-component__img {
        width: 60%;
        height: auto;
    }

    .furniture-component__img {
        width: 60%;
        height: auto;
    }

    .main-container-2-decor {
        grid-template-columns: 1fr;
        justify-items: start;
    }

    .video-component__text {
        font-size: 15px;
        width: 150px;
    }

    .video-component__btn {
        width: 150px;
        height: 30px;
        font-size: 12px;
        letter-spacing: 0;
    }

    .main-container-2__text {
        width: 300px;
    }

    .main-container-2__right {
        width: 50%;
        height: auto;
    }

    .furniture-component__img {
        width: 100%;
        height: auto;
    }

    .main-container-2-decor {
        padding: 6.51% 9%;
    }

    .videos__container {
        padding: 5.2% 9% 7.813% 9%;
    }
    
    .circle_btn {
        width: 9.3em;
        height: 9.3em;
    }

    .videos__circle {
        width: 9.3em;
        height: 9.3em;
    }

    .videos__circle::after {
        top: 36%;
        left: 36%;
        width: 34px;
        height: 34px;
    }

    .main__slider {
        grid-template-columns: 1fr;
        justify-items: start;
    }

    .content-component__title {
        font-size: 25px;
    }

    .slider__center {
        margin-left: 0;
    }

    .main-container-2__left {
        column-gap: 0;
    }
}

/* ==== 768 px ===================================================================== */

@media (max-width: 768px) {
    .info__icon {
        display: none;
    }

    .footer__container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .video-component__design-line-long-2 {
        display: none;
    }


    .video-component__title {
        font-size: 24px;
        width: fit-content;
    }

    .content-component__title {
        font-size: 0;
        font-size: 50px;
      }

    .slider-number {
        display: none;
    }

    .content-component__btn {
        font-size: 12px;
        width: 200px;
        height: 40px;
      }

    .slider__tagline {
        display: none;
    }

    .scroll-down__link {
        display: none;
    }

    .scroll-down__arrow {
        display: none;
    }

    .carousel__item {
        display: none;
    }

    .slider__line {
        display: none;
    }


}


/* ==== 830 px ===================================================================== */

@media (max-width: 830px) {
    .header__navigation {
        display: none;
    }

}


/* ==== 1120 px ===================================================================== */

@media (max-width: 1120px) {
   

    .burger__menu {
        display: none;
    }
 
    .header__info-language {
        display: none;
    }
    
    .video__short-line {
        display: none;
    }

    .video__white-long-line {
        display: none;
    } 

    .video-component__title {
        font-size: 30px;
    }

    .big-video__content-component {
        column-gap: 0;
        row-gap: 1.5em;
    }

    .main__container {
        padding: 15.625% 9% 10.417% 9%;
    }
    
    .videos__content-component {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

    .videos-circle-video-component {
        column-gap: 40px;
         row-gap: 40px;
    }

    
    
}


/* ==== 1244 px ===================================================================== */

@media (max-width: 1244px) and (min-width: 768px) {
    .footer__left {
        justify-content: center;
    }   

    .content-component__title {
        font-size: 70px;
      }

    .slider-number {
        font-size: 34px;
        margin-left: 13px;
    }

    .carousel__item::marker {
        font-size: 30px;
        line-height: 20px;
    }

    .content-component__btn {
        width: 200px;
        height: 40px;
      }

    .video-component__design-line-long-2 {
        display: none;
    }
    
    .video-component__btn {
        width: 200px;
        height: 40px;
    }


}